{{> head}}
{{> navbar}}

<div class="row">
  <div class="col-8">
    <h1>Fisionito</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos aliquam vel quisquam magnam velit ullam dolores
      rerum reprehenderit? Accusantium ullam eos quibusdam, id odio aperiam fuga recusandae eveniet sint laboriosam!</p>
  </div>
  <div class="col-4">
    <img src="assets/img/fisionito.png" class="img-thumbnail">
  </div>
</div>

{{> footer}}